@charset "UTF-8";

/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
:root {
  --bg-c1: #83a4d4;
  --bg-c2: #b6fbff;
  --bg-gradient: var(--bg-c1) linear-gradient(to right, var(--bg-c1), var(--bg-c2));
  --text-color-1: #333;
  --text-color-2: #fff;
  --main-color: #fafafa;
}
.second-gradient {
  --bg-c1: #41295a;
  --bg-c2: #2f0743;
  --bg-gradient: var(--bg-c1) linear-gradient(to right, var(--bg-c1), var(--bg-c2));
  --main-color: #decbff49;
  --text-color-1: #fff;
}
.third-gradient {
  --bg-c1: #007991;
  --bg-c2: #78ffd6;
  --bg-gradient: var(--bg-c1) linear-gradient(to right, var(--bg-c1), var(--bg-c2));
}
body {
  background: var(--bg-gradient);
  color: var(--text-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
button {
  background-color: var(--text-color-2);
  color: var(--bg-c1);
  padding: .6rem;
  border: 2px solid var(--bg-c1);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}
button:hover {
  background: var(--bg-c1);
  color: var(--text-color-2);
} 
button:hover i {color: var(--text-color-2);}
button i {
  color: var(--bg-c1);
  font-weight: 700;
  pointer-events: none;
}
input, select {
  padding: .6rem;
  flex: 1;
  outline: none;
}
input:focus {outline: 1px solid #333;}

/* content */

main {
  background-color: var(--main-color);
  border-radius: 1rem;
  width: 95%;
  max-width: 480px;
  padding: 1rem;
  margin: 3rem 0;
}
.hide {display: none !important;}

/* header */

main header h1 {
  padding-bottom: 1rem;
  text-align: center;
}
main header #todo-theme {
  background: var(--bg-gradient);
  color: var(--text-color-1);
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: .625rem;
  border-radius: 10rem;
  max-width: 180px;
  margin: 0 auto 1rem;
}
.second-gradient main header #todo-theme {background: var(--main-color);}
.third-gradient main header #todo-theme {color: var(--text-color-2);}
header #todo-theme span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--text-color-2);
  box-shadow: 1px 1px 1px;
}
header #todo-theme span#first-theme {
  background: #83a4d4 linear-gradient(to right, #83a4d4, #b6fbff);
}
header #todo-theme span#second-theme {
  background: #41295a linear-gradient(to right, #41295a, #2f0743);
}
header #todo-theme span#third-theme {
  background: #007991 linear-gradient(to right, #007991, #78ffd6);
}
header #todo-theme span.selected {
  outline: 2.5px solid #333;
}

/* todo form */

form .form-control,
form .form-control {
  display: flex;
  gap: .4rem;
  align-items: flex-end;
}
form .control-block,
form .control-block {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.1rem;
  flex: 1;
}
form .control-block label,
form .control-block label {
  margin-bottom: .5rem;
  cursor: pointer;
}
form .control-block input {width: 100%;}
#todo-form, #edit-form {
  padding: .5rem 1rem;
}
#edit-form #cancel-edit-btn {
  margin-top: 1rem;
  padding: .5rem 1rem;
  font-weight: 700;
}

/* toolbar */

section#toolbar {
  display: flex;
  padding: .5rem 1rem;
  gap: 1rem;
}
section#toolbar #seacrh {width: 70%;}
section#toolbar #filter {width: 30%;}

/* todo list */

section#todo-list {
  display: flex;
  flex-direction: column;
  gap: .7rem;
  padding: 0 1rem .5rem;
}
section#todo-list h2 {
  padding: 1rem;
  text-align: center;
}
section#todo-list #todo-info {
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 1rem;
  border: 2.4px solid var(--bg-c1);
  font-weight: 700;
}
.second-gradient section#todo-list #todo-info {
  background: var(--main-color);
  border: none;
}
section#todo-list .todo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .8rem;
  justify-content: space-between;
  box-shadow: 0 0 5px var(--bg-c1);
  border-radius: .5rem;
}
.second-gradient section#todo-list .todo {
  background: var(--main-color);
}
section#todo-list .todo h3 {
  flex: 1;
  font-size: .95rem;
}
section#todo-list .todo.done {
  background: var(--bg-gradient);
  color: var(--text-color-1);
}
section#todo-list .todo.done h3 {text-decoration: line-through;} 
.second-gradient #todo-list button:hover {background-color: var(--main-color);}
.third-gradient #todo-list .todo.done {color: var(--text-color-2);
}