@charset "UTF-8";

/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background: #83a4d4 linear-gradient(to right, #83a4d4, #b6fbff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
button {
  background-color: #fdfdfd;
  color: #102f5e;
  padding: .6rem;
  border: 2px solid #102f5e;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}
button:hover {
  background-color: #102f5e;
  color: #fff;
} 
button:hover i {color: #fff;}
button i {
  color: #102f5e;
  font-weight: 700;
  pointer-events: none;
}
input, select {
  padding: .6rem;
  flex: 1;
  outline: none;
}
input:focus {outline: 1px solid #333;}

/* content */

main {
  background-color: #fff;
  border-radius: 1rem;
  width: 95%;
  max-width: 460px;
  padding: 1rem;
  margin: 3rem 0;
}
.hide {display: none;}

/* header */

main header h1 {
  padding-bottom: 1rem;
  text-align: center;
}
main header #todo-theme {
  background-image: linear-gradient(to right, #83a4d4, #b6fbff);
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: .625rem;
  border-radius: 10rem;
  max-width: 180px;
  margin: 0 auto 1rem;
}
header #todo-theme span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(73, 71, 95);
  cursor: pointer;
  border: 3px solid #fff;
  box-shadow: 1px 1px 1px;
}
header #todo-theme span#first-theme {
  background: #83a4d4 linear-gradient(to right, #83a4d4, #b6fbff);
}
header #todo-theme span#second-theme {
  background: #41295a linear-gradient(to right, #41295a, #2f0743);
}
header #todo-theme span#third-theme {
  background: #007991 linear-gradient(to right, #007991, #78ffd6);
}
header #todo-theme span.selected {
  outline: 2px solid #333;
}

/* todo form */

form .form-control,
form .form-control {
  display: flex;
  gap: .4rem;
  align-items: flex-end;
}
form .control-block,
form .control-block {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.1rem;
  flex: 1;
}
form .control-block label,
form .control-block label {
  margin-bottom: .5rem;
  cursor: pointer;
}
form .control-block input {width: 100%;}
#todo-form, #edit-form {
  padding: .5rem 1rem;
}
#edit-form #cancel-edit-btn {
  margin-top: 1rem;
  padding: .5rem 1rem;
}

/* toolbar */

section#toolbar {
  display: flex;
  padding: .5rem 1rem;
  gap: 1rem;
}
section#toolbar #seacrh {width: 70%;}
section#toolbar #filter {width: 30%;}

/* todo list */

section#todo-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 1rem .5rem;
}
section#todo-list h2 {
  padding: 1rem;
  text-align: center;
}
section#todo-list .todo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .8rem;
  justify-content: space-between;
  transition: .5s;
}
section#todo-list .todo h3 {
  flex: 1;
  font-size: .9rem;
}
section#todo-list .todo.done {
  background-color: #395169;
  color: #fff;
  border-radius: .5rem;
}

